html, body{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background:#ffffff;
    width: 100%;
    height: 100%;
}
p,ul li{
    font-size:19px;
}
p{
    margin:0;
}
@font-face {
    font-family: 'Signika';
    src: url("../fonts/Signika/Signika-ligth.otf") format("opentype");
}
@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/FontAwesome/FontAwesome.otf") format("opentype");
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Signika', sans-serif;
}
h1{
    color:#438c43; 
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0px;
}

h1.estilo-h1:after { /*depois disso podemos estilazar como qualquer outro elemento*/
    display: block;
    height: 2px;
    background-color: #1bfc1b;
    /*IMPORTANTE, sempre que usamos o after pseudo class precisamos adicionar um conteudo*/
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 100%;
}
ul,label{
    margin:0;
    padding:0;
}
body a:hover{
    text-decoration:none;
}

blockquote{
    font-style:italic;
    font-size: 20px;
    color:#006600;
}

::selection{
    background-color: #31B404;
    color: white;
}
::-moz-selection{
    background-color: #31B404;
    color: white;
}

/*#eventos*/

#eventos{
    background-color: #32bc4e;
}
#eventos h1{
    color:#fff;
    margin-bottom: 0px;
    text-shadow: #274f27 0em 0em 0.2em;
    text-align: center;
}
#eventos h1:after{
    background-color: white;
    box-shadow: #274f27 0em 0em 0.2em;
    border-radius: 100%;
}
#eventos h4{
    font-weight: bold;
    font-size: 20px;
    color: #00cc99;
    margin:0;
}
#eventos h4 span{
    font-size: 15px;
    color:#929599;
}
#eventos h5{
    font-size:13px;
    font-weight: bold;
    color:#9ea0a3;
}
#eventos p{
    font-size: 15px;
}


.ul-li {
    display:inline-block;
    margin:0 10px;
}

.demo-3 {
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
    float:left;
/*    margin-right:20px;*/
}

.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
/*    margin-left:-50px*/
}

.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
/*    margin:-15px 0*/
}

.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

.demo-3 figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:left
}

.demo-3 figure h2 span{
    font-size: 12px;
}

.demo-3 figure p {
    display:block;
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left
}

.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:5px 10px;
    background-color:#197f2f;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    -ms-transform:rotate(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}

.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}

.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    transform:rotateY(180deg)
}

.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    -ms-transform:rotateY(0);
    transform:rotateY(0)
}



.portfolio-item {
  margin: 0px;
  right: 0px;
/*  padding:5px;*/
}
.portfolio-item .portfolio-caption {
  margin: 0;
  background-color: white;
  padding: 25px;
}
.portfolio-item a{
    overflow: hidden;
    position: relative;
}
.portfolio-item-desc{
  background: #fff;
  margin:0;
  position: absolute;
  width: 100%;
  color:#443403;
  bottom:-40px;
  left:0;
  height: 0;
  transition: height 0.6s;
  padding:20px;
}
.portfolio-item a:hover .portfolio-item-desc{height: 100px;}
.no-padding{padding-bottom:0; padding-top:0;}
.portfolio-hover {
    overflow: hidden;
}
.portfolio-hover > img {
    width: 100%;
    border-radius: 2px;
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.portfolio-hover:hover > img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.box-shadow{
    box-shadow: 0px 0px 10px #004d4d;
}

.botao-detalhar {
    color: #4df94a;
    background: #FFF;
    padding: 6px 11px;
    margin: 0px;
    font-family: 'OpenSansBold', sans-serif;
    border: 1px solid #4df94a;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #4df94a;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.botao-detalhar:hover {
    box-shadow: inset -200px 0 0 0 #4df94a;
    color: #FFF;
}
.page-link{
    color: #4df94a!important;
    font-weight: bold;
}
#inicio{
    display: block;
}
.inicio-header{
    display:block;
    width: 100%;
    height: 100%;
    position: relative;
}
.banner{
    position:relative;
    background-color: #000;
    overflow:hidden;
    max-height: 750px;
}
.banner img{
    opacity: 0.7;
}
.banner-image{
    min-height: 250px;
    min-width: 600px;
}
.display-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}
.margin-top{
    margin-top:23px;
}
.centralizar{
    display:inline-block;
    width:auto;
}
#inicio h1{
    color:#fff;
    margin:0;
    padding: 0;
    position: relative;
    font-size: 70px;
}
#inicio h4{
    color:#fff;
    margin:0;
    padding: 0;
    text-align: center;
    position: relative;
    font-size: 30px;
}
#inicio hr{
    height: 2px;
    background-color: white;
    position: relative;
    margin: 5px 0 12px 0;
    padding:0;
}
#inicio h4::before {
    content: "";
    height: 3px;
    background: #ffffff;
    position: absolute;
    width: 30%;
    top: 15px;
    left: 0px;
}
#inicio h4::after {
    content: "";
    height: 3px;
    background: #ffffff;
    position: absolute;
    width: 30%;
    top: 15px;
    right: 0px;
}
.agileits-arrow {
    text-align: center; 
} 
.agileits-arrow a {
    font-size: 3em;
    color: white;
} 
.agileits-arrow.bounce.animated {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-duration: 3s; 
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    -ms-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

#contato{
    background-color: #f2f2f2;
}
#contato h6{
    color:#a6a6a6; 
    font-weight: bold;
    text-transform: uppercase; 
    margin:7px;
}
#contato p{
    font-size: 12px;
}

.boxshadow{
    background-color:#fff;
    box-shadow: 2px 2px 15px #888888;
    padding: 30px;
    margin:10px;
}

.section {
    padding: 60px 0px;
}

.navbar-default {
    background: #fff;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-nav {
    width: 625px;
    padding:15px;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #212121;
}
.navbar-brand {
    padding: 0;
}
.navbar-default .navbar-nav > .active > a{
    background-color: transparent;
    border-bottom:1px solid #31B404;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top:1px solid #31B404;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: transparent;
    border-bottom:1px solid red;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top:1px solid red;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.navbar-default .navbar-nav > .active > li > a:hover, .navbar-default .navbar-nav > .active > li > a:focus {
    text-decoration: none;
    color: red;
}
.navbar-nav > li > a {
    margin: 0 2px;
    padding: 0px 0px;
    line-height: 1.42857143;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-nav {
    float: right;
    margin: 0px;
}

.logo{
     background: url('../img/teste.png');
     background-repeat: no-repeat;
     background-size: 220px;
     width: 250px;
     height: 70px;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
}




/**Responsive Design **/

@media(min-width:768px) {

    body{
        padding-top: 3em;
    }

    .vertical-center {
        display: flex;
        align-items: center;
    }

    .top-nav a {
        position: relative;
        display: inline-block;
        margin:0px;
        text-decoration: none;
    }
    .top-nav a:hover, .top-nav a:focus {
        outline: none;
    }

    .hover-effect {
        width: 110px;
        background-color: transparent;
        cursor: pointer;
        border-color: #31B404;
    }

    a.hover-effect {
        margin: 0px 5px; 
    }

    .hover-effect:hover {
        border-color: red;
    }
    .hover-effect span:nth-child(1) {
        color: #31B404;
    }
    .hover-effect span:nth-child(2) {
        color: red;
    }
    .hover-effect span {
        font-size: 1em;
        letter-spacing: 2px;
    }
    .hover-effect{
        position: relative;
        box-sizing: border-box;
        padding: 0px;
        border-style: none;
        height: 38px;
        display: inline-block;
    }
    .hover-effect span{
        position: absolute;
        box-sizing: border-box;
        display: block;
    }
    .hover-effect>span>span:nth-child(3),.hover-effect:before, .hover-effect:after, .hover-effect>:first-child, .hover-effect>:first-child:before, .hover-effect>:first-child:after {
        border-color: inherit;
        display: block;
        -moz-transition: border-color 0.6s ease;
        -webkit-transition: border-color 0.6s ease;
        transition: border-color 0.6s ease;
    }
    .hover-effect:before, .hover-effect:after, .hover-effect>:first-child:before, .hover-effect>:first-child:after {
        -webkit-animation-duration: 0.6s;
        animation-duration: 0.6s;
        position: absolute;
        box-sizing: border-box;
        content: ' ';
    }
    .hover-effect>span>span:nth-child(3), .hover-effect:before, .hover-effect:after, .hover-effect>:first-child:before, .hover-effect>:first-child:after {
        border-width: 3px;
    }
    .hover-effect>span>span:nth-child(3) {
        border-radius: 3px;
    }
    .hover-effect:before {
        border-radius: 3px 0 0 3px;
    }
    .hover-effect:after {
        border-radius: 0 3px 3px 0;
    }
    .hover-effect>:first-child:before {
        border-radius: 3px 3px 0 0;
    }
    .hover-effect>:first-child:after {
        border-radius: 0 0 3px 3px;
    }
    .hover-effect>:first-child {
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
    }
    .hover-effect>span span {
        width: inherit;
        text-align: center;
        -moz-transition: opacity 0.6s ease, top 0.5s ease;
        -webkit-transition: opacity 0.6s ease, top 0.5s ease;
        transition: opacity 0.6s ease, top 0.5s ease;
    }
    .hover-effect>span>span:nth-child(1) {
        opacity: 1;
        top: 9px;
    }
    .hover-effect>span>span:nth-child(2) {
        top: 20px;
        opacity: 0;
    }
    .hover-effect:hover>span>span:nth-child(1) {
        opacity: 0;
        top: 2px;
    }
    .hover-effect:hover>span>span:nth-child(2){
        opacity: 1;
        top: 9px;
    }
/*    .hover-effect>span>span:nth-child(3) {
        top: 28%;
        height: 44%;
        width: inherit;
        border-style: none solid none solid;
    }*/
    .hover-effect:before, .hover-effect:after {
        top: 0;
        width: 0;
        height: inherit;
        border-style: solid none solid none;
    }
    .hover-effect>:first-child:before, .hover-effect>:first-child:after {
        left: 0;
        height: 0;
        width: inherit;
        border-style: none solid none solid;
    }

    /*-- w3layouts --*/
    .hover-effect:before {
        -webkit-animation-name: left-center;
        animation-name: left-center;
    }
    .hover-effect:after {
        -webkit-animation-name: right-center;
        animation-name: right-center;
    }
    .hover-effect>:first-child:before {
        -webkit-animation-name: center-top;
        animation-name: center-top;
    }
    .hover-effect>:first-child:after {
        -webkit-animation-name: center-bottom;
        animation-name: center-bottom;
    }
    .hover-effect:hover:before {
        -webkit-animation-name: center-left;
        animation-name: center-left;
    }
    .hover-effect:hover:after {
        -webkit-animation-name: center-right;
        animation-name: center-right;
    }
    .hover-effect:hover>:first-child:before {
        -webkit-animation-name: top-center;
        animation-name: top-center;
    }
    .hover-effect:hover>:first-child:after {
        -webkit-animation-name: bottom-center;
        animation-name: bottom-center;
    }

    .navbar-fixed-top {
        padding: 27px 0;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0px 0px 0px;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition:padding 0.3s;
    }

    .navbar-fixed-top.navbar-shrink .navbar-nav{
        visibility: visible !important;
        padding: 4px;
        width: 600px;
    }

    .navbar-fixed-top.navbar-shrink .logo {
        background-size: 150px;
        width: 150px;
        height: 47px;
        visibility: visible !important;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar-nav .divider{
        visibility: hidden;
    }
    /*Corrige cores do menu no Google Chrome*/
    @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
        .hover-effect{
            border-color:red;
        } 
        .hover-effect:hover{
            border-color:#31B404;
        }
    }

}

@media(min-width: 768px) and (max-width: 1200px){
    #inicio h1{
        font-size:58px;
    }
    #inicio h4{
        font-size:24px;
    }
    #inicio h4::before{
        margin-top: -5px;
    }
    #inicio h4::after{
        margin-top: -5px;
    }

    body{
        padding-top: 3em;
    }



    blockquote{
        font-style:italic;
        font-size: 20px;
    }

    p,ul li{
        font-size:16px;
    }
    .logo{
         background-size: 170px;
         width: 170px;
         height: 70px;
    }
    .hover-effect {
        width: 93px;
        height: 35px;
    }
    .hover-effect span {
        font-size: 13px;
        letter-spacing: 1px;
    }
    .navbar-nav{
        width: 500px;
        padding: 6px;
        margin-top:5px;
    }
    .navbar-fixed-top {
        padding: 25px 0 12px 0;
    }
    .navbar-fixed-top.navbar-shrink .navbar-nav{
        visibility: visible !important;
        padding: 4px;
        width: 500px;
        margin-top:0px;
    }

}

@media (max-width: 767px){

    #inicio h1{
        font-size:28px;
    }
    #inicio h4{
        font-size:14px;
    }
    #inicio h4::before{
        margin-top: -8px;
    }
    #inicio h4::after{
        margin-top: -8px;
    }
    .agileits-arrow a {
        font-size: 2em;
    }
    body{
        padding-top: 3em;
    }

    blockquote{
        font-style:italic;
        font-size: 18px;
    }

    p,ul li{
        font-size:14px;
    }
    h1{
        font-size: 220%;
    }
    .logo{
         background-size: 160px;
         width: 160px;
         height: 50px;
         position: absolute;
         float: none;
         left:45%;
         right:55%;
         margin-left:-55px;
         margin-right: -45px;
         top:8px;
    }

    .navbar-header {
        text-align: center;
        width: 100%;
    }

    .navbar-brand{
         position: absolute;
         float: none;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: green;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-nav {
        background: #E3F6CE;
        padding:0px;
        width: 100%;
        /*padding-bottom: 0em;*/
    }
    .navbar-nav > li > a {
        padding: 0px 30px 0px 30px;
        display: inline-block;
        font-size: 10px;
        top:4px;
    }
    .center-pills{
        display: flex;
        justify-content: center;
    }

    .navbar-fixed-top .logo{
        visibility: visible !important;
    }
    .navbar-fixed-top .collapsed{
        visibility: visible !important;
    }
    .navbar-fixed-top .navbar-nav{
        visibility: visible !important;
    }

    .hover-effect {
        width: 61px;
        background-color: transparent;
        cursor: pointer;
        border-color: #31B404;
    }
    a.hover-effect {
        margin: 0 0px; 
    }
    .hover-effect:hover {
        border-color: red;
    }
    .hover-effect span:nth-child(1) {
        color: #31B404;
    }
    .hover-effect span:nth-child(2) {
        color: red;
    }
    .hover-effect span {
        font-size: 10px;
        letter-spacing: 1px;
    }

    .hover-effect {
        position: relative;
        box-sizing: border-box;
        padding: 0;
        border-style: none;
        height: 32px;
        overflow-y: hidden;
        overflow-x: hidden;
        display: inline-block;
    }
    .hover-effect span {
        position: absolute;
        box-sizing: border-box;
        display: block;
    }

    .hover-effect>:first-child {
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
    }
    .hover-effect>span span {
        width: inherit;
        text-align: center;
        -moz-transition: opacity 0.6s ease, top 0.5s ease;
        -webkit-transition: opacity 0.6s ease, top 0.5s ease;
        transition: opacity 0.6s ease, top 0.5s ease;
    }
    .hover-effect>span>span:nth-child(1) {
        opacity: 1;
        top: 9px;
    }
    .hover-effect>span>span:nth-child(2) {
        top: 20px;
        opacity: 0;
    }
    .hover-effect:hover>span>span:nth-child(1) {
        opacity: 0;
        top: 2px;
    }
    .hover-effect:hover>span>span:nth-child(2){
        opacity: 1;
        top: 9px;
    }

    .navbar-nav .divider{
        color: #31B404;
        padding-top:2px;
    }

}

@media (max-width: 630px){
    #inicio h1{
        font-size:29px;
    }
    #inicio h4{
        font-size:12px;
    }
    #inicio h4::before{
        margin-top: -10px;
    }
    #inicio h4::after{
        margin-top: -10px;
    }
    .row div img{
        margin-top:20px;
    }
    .navbar-nav > li > a {
        padding: 0px 13px 0px 13px;
        display: inline-block;
        font-size: 12px;
    }
    .center-pills{
        display: flex;
        justify-content: center;
    }
    .navbar-fixed-top .logo{
        visibility: visible !important;
    }
    .navbar-fixed-top .collapsed{
        visibility: visible !important;
    }
    .navbar-fixed-top .navbar-nav{
        visibility: visible !important;
    }

}

  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }




    @-webkit-keyframes center-left {
        0%      {left: 40%; width: 8%; opacity: 0.2;}
        25%     {left: 25%; width: 15%;}
        50%     {left: 0%; width: 30%;}
        80%     {left: 0%; width: 0%;}
        100%    {left: 0%; width: 0%; opacity: 1;}
    }
    @-webkit-keyframes left-center {
        0%      {left: 0%; width: 0%; opacity: 1;}
        20%     {left: 0%; width: 0%;}
        50%     {left: 0%; width: 30%;}
        55%     {left: 40%; width: 11%;}
        100%    {left: 43%; width: 8%; opacity: 0.2;}
    }
    @-webkit-keyframes center-right {
        0%      {left: 52%; width: 8%; opacity: 0.2;}
        25%     {left: 60%; width: 15%;}
        50%     {left: 70%; width: 30%;}
        80%     {left: 100%; width: 0%;}
        100%    {left: 100%; width: 0%; opacity: 1;}
    }
    /*-- agileits --*/
    @-webkit-keyframes right-center {
        0%      {left: 100%; width: 0%; opacity: 1;}
        20%     {left: 100%; width: 0%;}
        50%     {left: 70%; width: 30%;}
        55%     {left: 49%; width: 11%;}
        100%    {left: 49%; width: 8%; opacity: 0.2;}
    }
    @-webkit-keyframes top-center {
        0%      {top: 0%; height: 0%; opacity: 0.2;}
        50%     {top: 0%; height: 0%;}
        60%     {top: 0%; height: 20%;}

        80%     {top: 0%; height: 50%;}
        90%     {top: 25%; height: 25%;}
        100%    {top: 50%; height: 0%; opacity: 1;}
    }
    @-webkit-keyframes center-top {
        0%      {top: 50%; height: 0%; opacity: 1;}
        10%     {top: 25%; height: 25%;}
        20%     {top: 0%; height: 50%;}
        40%     {top: 0%; height: 20%;}
        50%     {top: 0%; height: 0%;}
        100%    {top: 0%; height: 0%; opacity: 0.2;}
    }
    @-webkit-keyframes bottom-center {
        0%      {top: 100%; height: 0%; opacity: 0.2;}
        50%     {top: 100%; height: 0%;}
        60%     {top: 80%; height: 20%;}
        80%     {top: 50%; height: 50%;}
        90%     {top: 50%; height: 25%;}
        100%    {top: 50%; height: 0%; opacity: 1;}
    }
    @-webkit-keyframes center-bottom {
        0%      {top: 50%; height: 0%; opacity: 1;}
        10%     {top: 50%; height: 25%;}
        20%     {top: 50%; height: 50%;}
        40%     {top: 80%; height: 20%;}
        50%     {top: 100%; height: 0%;}
        100%    {top: 100%; height: 0%; opacity: 0.2;}
    }
    @keyframes center-left {
        0%      {left: 40%; width: 8%; opacity: 0.2;}
        25%     {left: 25%; width: 15%;}
        50%     {left: 0%; width: 30%;}
        80%     {left: 0%; width: 0%;}
        100%    {left: 0%; width: 0%; opacity: 1;}
    }
    /*-- w3layouts --*/
    @keyframes left-center {
        0%      {left: 0%; width: 0%; opacity: 1;}
        20%     {left: 0%; width: 0%;}
        50%     {left: 0%; width: 30%;}
        55%     {left: 40%; width: 11%;}
        100%    {left: 43%; width: 8%; opacity: 0.2;}
    }
    @keyframes center-right {
        0%      {left: 52%; width: 8%; opacity: 0.2;}
        25%     {left: 60%; width: 15%;}
        50%     {left: 70%; width: 30%;}
        80%     {left: 100%; width: 0%;}
        100%    {left: 100%; width: 0%; opacity: 1;}
    }
    @keyframes right-center {
        0%      {left: 100%; width: 0%; opacity: 1;}
        20%     {left: 100%; width: 0%;}
        50%     {left: 70%; width: 30%;}
        55%     {left: 49%; width: 11%;}
        100%    {left: 49%; width: 8%; opacity: 0.2;}
    }
    @keyframes top-center {
        0%      {top: 0%; height: 0%; opacity: 0.2;}
        50%     {top: 0%; height: 0%;}
        60%     {top: 0%; height: 20%;}
        80%     {top: 0%; height: 50%;}
        90%     {top: 25%; height: 25%;}
        100%    {top: 50%; height: 0%; opacity: 1;}
    }
    @keyframes center-top {
        0%      {top: 50%; height: 0%; opacity: 1;}
        10%     {top: 25%; height: 25%;}
        20%     {top: 0%; height: 50%;}
        40%     {top: 0%; height: 20%;}
        50%     {top: 0%; height: 0%;}
        100%    {top: 0%; height: 0%; opacity: 0.2;}
    }
    @keyframes bottom-center {
        0%{     top: 100%; height: 0%; opacity: 0.2;}
        50%     {top: 100%; height: 0%;}
        60%     {top: 80%; height: 20%;}
        80%     {top: 50%; height: 50%;}
        90%     {top: 50%; height: 25%;}
        100%    {top: 50%; height: 0%; opacity: 1;}
    }
    /*-- agileits --*/
    @keyframes center-bottom {
        0%      {top: 50%; height: 0%; opacity: 1;}
        10%     {top: 50%; height: 25%;}
        20%     {top: 50%; height: 50%;}
        40%     {top: 80%; height: 20%;}
        50%     {top: 100%; height: 0%;}
        100%    {top: 100%; height: 0%; opacity: 0.2;}
    }

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
    color: #009900;
    font-weight: bold;
}

.floating-label-form-group-with-focus label {
    color: #009900;
    font-weight: bold;
}



#back-to-top{
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

#back-to-top.btn {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    font-size: 24px;
    line-height: 28px;
    padding: 7px;
}

#back-to-top .btn:focus {
    outline: 0;
}

#back-to-top.show{
    opacity: 0.80;
}

/*-- footer --*/
.footer{
    background:#004d00;
    padding:4em 0;
}
.footer-logo{
     background: url('../img/logofooter.png');
     background-repeat: no-repeat;
     width: 300px;
     height: 100px;
     margin:0 auto;
}
.footer-logo-if{
     background: url('../img/logofooterif.png');
     background-repeat: no-repeat;
     width: 300px;
     height: 100px;
     margin:0 auto;
}
.w3agile_footer_grid h3{
    font-size:1.7em;
    color:#fff;
    padding-bottom:.5em;
    margin-bottom:1em;
    position:relative;
    border-bottom: 2px ridge green;
}
.w3agile_footer_grid p{
    color:#fff;
    line-height:2em;
    font-size: 1em;
}
.w3agile_footer_grid h2{
    margin:1em 0 0;
}
.w3agile_footer_grid h2 a{
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.w3agile_footer_grid ul li{
    list-style-type:none;
    margin-bottom:1.5em;
}
.w3agile_footer_grid ul li a{
    color:#fff;
    text-decoration:none;
}
.w3agile_footer_grid ul li a:hover{
    color: #00e600;
}
@media (min-width: 992px){
    .w3agile_footer_grid:nth-child(2) {
        border-left: 2px ridge green;
        border-right: 2px ridge green;
    }    
}
ul.w3agile_footer_grid_list li{
    list-style-type:none;
    color:#999;
    line-height:1.9em;
    margin-bottom:1em;
}
.w3agile_footer_grid_left{
    float:left;
    width:33.33%;
    padding:.15em;
}
.agileinfo_copy_right{
    background:#003300;
    padding:1em 0;
}
.agileinfo_copy_right_left p{
    color:#fff;
    text-align: center;
}
.agileinfo_copy_right_left p a{
    color: #ff9900;
    text-decoration:none;
}
.agileinfo_copy_right_left p a:hover{
    color:#fff;
}
/*-- //footer --*/






