/*-- CONFIGURAÇÕES GERAIS E BÁSICAS --*/
html, body{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background:#ffffff;
    width: 100%;
    height: 100%;
}
p,ul li{
    font-size:19px;
}
p{
    margin:0;
}
p.paragrafo{
    text-indent: 2em;
    text-align: justify;
}
@media(min-width: 768px){
    .div-em-colunas {
        -webkit-column-count:2; /* Chrome, Safari, Opera */
        -moz-column-count:2;    /* Firefox */
        column-count:2;         /* padrão */
    }
}
@font-face {
  font-family: 'Playball';
  src: url("../fonts/Playball/Playball-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Signika';
    src: url("../fonts/Signika/Signika-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/FontAwesome/FontAwesome.otf") format("opentype");
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Signika', sans-serif;
}
h1{
    color:#438c43; 
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0px;
}

h1.estilo-h1:after { /*depois disso podemos estilazar como qualquer outro elemento*/
    display: block;
    height: 2px;
    background-color: #1bfc1b;
    /*IMPORTANTE, sempre que usamos o after pseudo class precisamos adicionar um conteudo*/
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 100%;
}
ul,label{
    margin:0;
    padding:0;
}
body a:hover{
    text-decoration:none;
}

blockquote{
    font-style:italic;
    font-size: 20px;
    color:#006600;
}

::selection{
    background-color: #31B404;
    color: white;
}
::-moz-selection{
    background-color: #31B404;
    color: white;
}
.section {
    padding: 60px 0px;
}

.horizontal-center-content-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-- /CONFIGURAÇÕES GERAIS E BÁSICAS --*/

/*-- CONFIGURAÇÕES GERAIS DO MENU--*/

.navbar-default {
    background: #fff;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-nav {
    width: auto;
    padding:15px;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #212121;
}
.navbar-brand {
    padding: 0;
}
.navbar-default .navbar-nav > .active > a{
    background-color: transparent;
    border-bottom:1px solid #31B404;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top:1px solid #31B404;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: transparent;
    border-bottom:1px solid red;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top:1px solid red;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.navbar-default .navbar-nav > .active > li > a:hover, .navbar-default .navbar-nav > .active > li > a:focus {
    text-decoration: none;
    color: red;
}
.navbar-nav > li > a {
    margin: 0 2px;
    padding: 0px 0px;
    line-height: 1.42857143;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-nav {
    float: right;
    margin: 0px;
}

.logo{
     background: url('../img/teste.png');
     background-repeat: no-repeat;
     background-size: 220px;
     width: 250px;
     height: 70px;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
}
/*-- /CONFIGURAÇÕES GERAIS DO MENU--*/

/*-- class Distancia do menu --*/
.distancia-menu{
    margin-top:3em;
}
@media(max-width: 767px){
        .distancia-menu{
        margin-top:0em;
    }
}
/*-- /class Distancia do menu --*/

/*-- CONFIGURAÇÕES DA PÁGINA DE INÍCIO/APRESENTAÇÃO --*/

#inicio{
    display: block;
}
#inicio h1{
    color:#fff;
    margin:0;
    padding: 0;
    position: relative;
    font-size: 70px;
}
#inicio h4{
    color:#fff;
    margin:0;
    padding: 0;
    text-align: center;
    position: relative;
    font-size: 30px;
}
#inicio hr{
    height: 2px;
    background-color: white;
    position: relative;
    margin: 5px 0 12px 0;
    padding:0;
}
#inicio h4::before {
    content: "";
    height: 3px;
    background: #ffffff;
    position: absolute;
    width: 30%;
    top: 15px;
    left: 0px;
}
#inicio h4::after {
    content: "";
    height: 3px;
    background: #ffffff;
    position: absolute;
    width: 30%;
    top: 15px;
    right: 0px;
}

.inicio-header{
    display:block;
    width: 100%;
    height: 100%;
    position: relative;
}
.banner{
    position:relative;
    background-color: #000;
    overflow:hidden;
    max-height: 750px;
}
.banner img{
    opacity: 0.7;
}
.banner-image{
    min-height: 250px;
    min-width: 700px;
}
.display-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}
.margin-top{
    margin-top:23px;
}

@media(max-width: 700px){
    .banner{
        overflow-y:hidden;
        overflow-x: scroll;
    }
    .display-middle{
        top:35%;
        left:50%;
        transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
    }
}

/*-- ANIMAÇÃO BOTÃO ABAIXO DA FRASE "A GENTE FAZ ACONTECER"--*/

.agileits-arrow {
    text-align: center; 
} 
.agileits-arrow a {
    font-size: 3em;
    color: white;
} 
.agileits-arrow.bounce.animated {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-duration: 3s; 
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    -ms-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
/*-- /ANIMAÇÃO BOTÃO ABAIXO DA FRASE "A GENTE FAZ ACONTECER"--*/
/*-- /CONFIGURAÇÕES DA PÁGINA DE INÍCIO/APRESENTAÇÃO --*/

/*-- #EVENTOS --*/

#eventos{
    background-color: #32bc4e;
}
#eventos h1{
    color:#fff;
    margin-bottom: 0px;
    text-shadow: #274f27 0em 0em 0.2em;
    text-align: center;
}
#eventos h1:after{
    background-color: white;
    box-shadow: #274f27 0em 0em 0.2em;
    border-radius: 100%;
}
#eventos h4{
    font-weight: bold;
    font-size: 20px;
    color: #00cc99;
    margin:0;
}
#eventos h4 span{
    font-size: 15px;
    color:#929599;
}
#eventos h5{
    font-size:13px;
    font-weight: bold;
    color:#9ea0a3;
}
#eventos p{
    font-size: 15px;
}

#eventos .col-padding{
    margin: 0px;
    padding: 5px;
}

 /* EFEITO HOVER ROTATE EM IMAGENS DOS EVENTOS (#EVENTOS) */
 
.rotate-effect {
    position:relative;
    max-width: 400px;
    min-width: 300px;
    overflow:hidden;
    float:left;
}
.rotate-effect figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;

}
.rotate-effect figure img {
    display:block;
    position:relative;
    z-index:10;

}
.rotate-effect figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.rotate-effect figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:left;
    margin:0px;
}
.rotate-effect figure hr{
    margin:5px 0;
}
.rotate-effect figure p {
    display:block;
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left;
}
.rotate-effect figure span{
    color:white;
    float: left;
    font-size:12px;
}
.rotate-effect figure figcaption {
    top:0px;
    left:0;
    width:100%;
    height:100%;
    position: absolute;
    display: block;
    padding:10px;
    /*padding:29px 44px;*/
    background-color:rgba(35, 122, 44,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.rotate-effect figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.rotate-effect figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.rotate-effect figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}
 /* /EFEITO HOVER ROTATE EM IMAGENS DOS EVENTOS (#EVENTOS) */

/* BOTÃO DETALHAR DO ROTATE-EFFECT (#EVENTOS) */

.botao-detalhar {
    color: white;
    background-color:transparent;
    padding: 6px 11px;
    margin-top: 8px;
    font-family: 'OpenSansBold', sans-serif;
    border: 1px solid white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.botao-detalhar:hover {
    box-shadow: inset -200px 0 0 0 white;
    color: #288c32;
}
.page-link{
    color: #4df94a!important;
    font-weight: bold;
}
/* /BOTÃO DETALHAR DO ROTATE-EFFECT (#EVENTOS) */

/*-- /#EVENTOS --*/

/*-- CONFIGURAÇÕES DA PÁGINA DE CONTATO--*/
#contato{
    background-color: #f2f2f2;
}
#contato h6{
    color:#a6a6a6; 
    font-weight: bold;
    text-transform: uppercase; 
    margin:7px;
}
#contato p{
    font-size: 12px;
}

.boxshadow{
    background-color:#fff;
    box-shadow: 0px 0px 8px #2d2d2c;
    padding: 30px;
    margin:10px;
}

/*-- CONFIGURAÇÕES PÁGINA DE EVENTOS --*/
#parcerias{
    background-color: #54d9f7;
}
#parcerias h1{
    color:#fff;
    margin-bottom: 0px;
    text-shadow: #274f27 0em 0em 0.2em;
    text-align: center;
}
#parcerias h1:after{
    background-color: white;
    box-shadow: #274f27 0em 0em 0.2em;
    border-radius: 100%;
}
/*.carousel-inner{
    background-color: yellow!important;
}*/
.carousel-inner-visible{
    overflow: visible;
}
a.thumbnail{
    position: relative;
    color: #039;
    text-decoration: none;
}
/*a.thumbnail:hover{
    background: transparent;
    z-index: 25;
}
*/
a.thumbnail .balao{
    display: none;
}

a.thumbnail:hover .balao{
    display: block;
    position: absolute;
    width: 150px;
    top: 100%;
    text-align: justify;
    left: 3em;
    font: 10px Verdana, arial, helvetica, sans-serif;
    padding: 5px 10px;
    box-shadow:0px 0px 5px #2d2d2c;
    background: #fff;
    color: #000;
    border-radius:5px;
    z-index: 3;
}

a.thumbnail:hover .balao:before {
    position: absolute;
    top: -10px;
    left: 20%;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    border-left: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

a.thumbnail:hover .balao:after {
    position: absolute;
    top: -9px;
    left: 20%;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    border-left: 10px solid transparent;
    content: '';
}

/*-- Apresentacao (evento) --*/
#apresentacao h4{
    color:#d11212;
}
 .postit {
  line-height: 1;
  text-align:center;     
  width: 100%; 
  max-width: 250px;
  height: auto;
  margin: 10px 10px 10px 20px;    
  min-height:170px;
  max-height: auto;
  /*padding-top: 0;*/
  padding:10px;
  position:relative;   
  border:1px solid #E8E8E8;  
/*  border-top:60px solid #fdfd86;  */    
  border-bottom-right-radius: 60px 10px;
  display:block;    
   background: #ffff88; 
    background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+*/
    background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.postit:after {     
   content: "";
  position:absolute;
  z-index:-1;
  right:-0px; bottom:20px;
  width:120px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
     -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
          -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
         -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
             transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.pin {
  background-color: #aaa;
  display: block;
  height: 16px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -3px;
  z-index: 1;
}

.pin:after {
  background-color: #32CD32;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              18px 8px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';

  height: 18px;
  width: 2px;
  left: 0;
  position: absolute;
  top: -2px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

.postit-conteudo{
    position:relative;
    width: 100%;
    height: 100%;
        
}
.postit-conteudo > h1{ 
  font-family: "Playball";
  color: black;  
  font-size:15pt;
}

.postit-conteudo > h2{
  font-family: "Playball";
  color: black;
  font-size:14pt;
}

@media(max-width: 767px){
    .center-xs{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*-- CONFIGURAÇÕES PARCERIA--*/
.media-carousel 
{
  margin-bottom: 0;
  padding: 25px 41px 0px 41px;
  width: 100%;
}
a.thumbnail{
    max-width: 250px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: 0px !important;
  background-image: none;
  color:#fff;
  height: 55px;
  width : 40px;
  font-size: 32px;
  position: absolute;
  top: 0; bottom: 0;
  margin: auto;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: 0px !important;
  background-image: none;
  color:#fff;
  height: 55px;
  width : 40px;
  font-size: 32px;
  position: absolute;
  top: 0; bottom: 0;
  margin: auto;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  bottom: -25px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #fff;
}
.media-carousel .carousel-indicators .active 
{
  background: #54d9f7;
}
.media-carousel img
{
  width: 250px;
  height: 100px;
}
/* /PARCERIAS */

/*-- PROGRAMAÇÃO--*/

/*-- /PROGRAMAÇÃO--*/
.panel-default>.panel-heading{background:#fff;color:#37ba40;font-size:16px;padding:0}
.panel-default>.panel-heading .panel-title{line-height:40px}
.panel-default>.panel-heading .panel-title>a:hover{text-decoration:none}
.panel-default>.panel-collapse{background:#f0f0f0;color:#989898;font-size:14px}
.panel-default>.panel-collapse .panel-body{padding:20px 15px}
.panel-group .panel + .panel{margin-top:10px}
.accordion-caret .accordion-toggle:hover{text-decoration:none}
.accordion-caret .accordion-toggle:before{vertical-align:-1px;border-bottom:0;line-height:0}
.accordion-caret .accordion-toggle:not(.collapsed):before{ float:right;color:#000;display:inline-block;content:url(../img/icon-minus.png);}
.accordion-caret .accordion-toggle.collapsed:before{color:#fff;float:right;content:url(../img/icon-plus.png);}
.panel-title .accordion-toggle.collapsed{padding-left:10px}
.panel-title .accordion-toggle:not(.collapsed){background:#37ba40 !important; border-radius: 3px;display:block;padding-left:10px;color:#fff}
/*-- CONFIGURAÇÕES DA PÁGINA DE LOGIN--*/
#login{
    background-color: #e2291f;
}
#login > h4 > a{
    color:#969690;
}
#login input{
    padding:5px;
    float:right;
}

.icon-in-input{
    float:left;
    margin:10px 0px 0px -20px;
    z-index: 10000;
    cursor: pointer;
    font-size: 18px;
    color:green;
}

/*-- ANIMAÇÃO DE FLUTUAR LABELS --*/

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
    color: #009900;
    font-weight: bold;
}

.floating-label-form-group-with-focus label {
    color: #009900;
    font-weight: bold;
}
/*-- /ANIMAÇÃO DE FLUTUAR LABELS --*/
/*-- /CONFIGURAÇÕES DA PÁGINA DE CONTATO--*/



/*-- LAYOUT RESPONSIVO --*/

@media(min-width:768px) {

    body{
        padding-top: 3em;
    }

    .vertical-center {
        display: flex;
        align-items: center;
    }

    .top-nav a {
        position: relative;
        display: inline-block;
        margin:0px;
        text-decoration: none;
    }
    .top-nav a:hover, .top-nav a:focus {
        outline: none;
    }
    .hover-effect{
        width: 7em;
        background-color: transparent;
        cursor: pointer;
        border-color: #31B404;
    }

    a.hover-effect {
        margin: 0px 5px; 
    }

    .hover-effect:hover {
        border-color: red;
    }
    .navbar-default .navbar-nav > li > a {
      color: #31B404;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus{
      color: #31B404;
    }
    .dropdown-menu{
        top: 50px;
        background-color: #31B404;
        border-top-left-radius: 5px!important;
        border-top-right-radius: 5px!important;
        border-radius: 5px;
        opacity: 0.9;
    }
    .dropdown-menu:before {
        position: absolute;
        top: -10px;
        left: 20%;
        display: inline-block;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ccc;
        border-left: 10px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }

    .dropdown-menu:after {
        position: absolute;
        top: -9px;
        left: 20%;
        display: inline-block;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #31B404;
        border-left: 10px solid transparent;
        content: '';
    }
    .dropdown-menu > li > a{
        color:white;
        text-transform: uppercase;
        font-size:12px;
    }
    .dropdown-menu > li > a:hover{
        color:#31B404;
        background-color: #fff;
    }
    .hover-effect span:nth-child(1) {
        color: #31B404;
    }
    .hover-effect span:nth-child(2) {
        color: red;
    }
    .hover-effect span {
        font-size: 13px;
        letter-spacing: 1px;
    }
    .hover-effect{
        position: relative;
        box-sizing: border-box;
        padding: 0px;
        border-style: none;
        height: 35px;
        top:3px;
        display: inline-block;
    }
    .hover-effect span{
        position: absolute;
        box-sizing: border-box;
        display: block;
    }
    .hover-effect>span>span:nth-child(3),.hover-effect:before, .hover-effect:after, .hover-effect>:first-child, .hover-effect>:first-child:before, .hover-effect>:first-child:after {
        border-color: inherit;
        display: block;
        -moz-transition: border-color 0.8s ease;
        -webkit-transition: border-color 0.8s ease;
        transition: border-color 0.8s ease;
    }
    .hover-effect:before, .hover-effect:after, .hover-effect>:first-child:before, .hover-effect>:first-child:after {
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        position: absolute;
        box-sizing: border-box;
        content: ' ';
    }
    .hover-effect>span>span:nth-child(3), .hover-effect:before, .hover-effect:after, .hover-effect>:first-child:before, .hover-effect>:first-child:after {
        border-width: 3px;
    }
    .hover-effect>span>span:nth-child(3) {
        border-radius: 3px;
    }
    .hover-effect:before {
        border-radius: 3px 0 0 3px;
    }
    .hover-effect:after {
        border-radius: 0 3px 3px 0;
    }
    .hover-effect>:first-child:before {
        border-radius: 3px 3px 0 0;
    }
    .hover-effect>:first-child:after {
        border-radius: 0 0 3px 3px;
    }
    .hover-effect>:first-child {
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
    }
    .hover-effect>span span {
        width: inherit;
        text-align: center;
        -moz-transition: opacity 0.6s ease, top 0.5s ease;
        -webkit-transition: opacity 0.6s ease, top 0.5s ease;
        transition: opacity 0.6s ease, top 0.5s ease;
    }
    .hover-effect>span>span:nth-child(1) {
        opacity: 1;
        top: 9px;
    }
    .hover-effect>span>span:nth-child(2) {
        top: 20px;
        opacity: 0;
    }
    .hover-effect:hover>span>span:nth-child(1) {
        opacity: 0;
        top: 2px;
    }
    .hover-effect:hover>span>span:nth-child(2){
        opacity: 1;
        top: 9px;
    }
/*    .hover-effect>span>span:nth-child(3) {
        top: 28%;
        height: 44%;
        width: inherit;
        border-style: none solid none solid;
    }*/
    .hover-effect:before, .hover-effect:after {
        top: 0;
        width: 0;
        height: inherit;
        border-style: solid none solid none;
    }
    .hover-effect>:first-child:before, .hover-effect>:first-child:after {
        left: 0;
        height: 0;
        width: inherit;
        border-style: none solid none solid;
    }

    /*-- w3layouts --*/
    .hover-effect:before {
        -webkit-animation-name: left-center;
        animation-name: left-center;
    }
    .hover-effect:after {
        -webkit-animation-name: right-center;
        animation-name: right-center;
    }
    .hover-effect>:first-child:before {
        -webkit-animation-name: center-top;
        animation-name: center-top;
    }
    .hover-effect>:first-child:after {
        -webkit-animation-name: center-bottom;
        animation-name: center-bottom;
    }
    .hover-effect:hover:before {
        -webkit-animation-name: center-left;
        animation-name: center-left;
    }
    .hover-effect:hover:after {
        -webkit-animation-name: center-right;
        animation-name: center-right;
    }
    .hover-effect:hover>:first-child:before {
        -webkit-animation-name: top-center;
        animation-name: top-center;
    }
    .hover-effect:hover>:first-child:after {
        -webkit-animation-name: bottom-center;
        animation-name: bottom-center;
    }

    .navbar-fixed-top {
        padding: 27px 0;
    }

    .navbar-nav{
        width: auto;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0px 0px 0px;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition:padding 0.3s;
    }

    .navbar-fixed-top.navbar-shrink .navbar-nav{
        visibility: visible !important;
        padding: 4px;
    }

    .navbar-fixed-top.navbar-shrink .logo {
        background-size: 150px;
        width: 150px;
        height: 47px;
        visibility: visible !important;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar-nav .divider{
        visibility: hidden;
    }
    /*Corrige cores do menu no Google Chrome*/
    @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
        .hover-effect{
            border-color:red;
        } 
        .hover-effect:hover{
            border-color:#31B404;
        }
    }

}

@media(min-width: 768px) and (max-width: 1200px){
    #inicio h1{
        font-size:58px;
    }
    #inicio h4{
        font-size:24px;
    }
    #inicio h4::before{
        margin-top: -5px;
    }
    #inicio h4::after{
        margin-top: -5px;
    }

    body{
        padding-top: 3em;
    }



    blockquote{
        font-style:italic;
        font-size: 20px;
    }

    p,ul li{
        font-size:16px;
    }

    /*-- CONFIGURAÇÕES DO MENU EM TELAS PEQUENAS --*/

    .logo{
         background-size: 170px;
         width: 170px;
         height: 70px;
    }
    .hover-effect {
        width: 5.8em;
        height: 32px;
        top:5px;
        right: 0px
    }
    .hover-effect span {
        font-size: 12px;
        letter-spacing: 1px;
    }
    .navbar-nav{
        width: auto;
        padding: 6px;
        margin-top:5px;
    }
    .navbar-fixed-top {
        padding: 25px 0 12px 0;
    }
    .navbar-fixed-top > .container{
        padding:0px!important;
    }
    .navbar-fixed-top.navbar-shrink .navbar-nav{
        visibility: visible !important;
        padding: 4px;
        width: auto;
        margin-top:0px;
    }

    /*-- /CONFIGURAÇÕES DO MENU EM TELAS PEQUENAS --*/

}

@media(max-width: 767px){

    body{
        padding-top: 3em;
    }

    blockquote{
        font-style:italic;
        font-size: 18px;
    }

    p,ul li{
        font-size:14px;
    }
    h1{
        font-size: 220%;
    }

    #inicio h1{
        font-size:31px;
    }
    #inicio h4{
        font-size:14px;
    }
    #inicio h4::before{
        margin-top: -8px;
    }
    #inicio h4::after{
        margin-top: -8px;
    }
    .agileits-arrow a {
        font-size: 2em;
    }
    /* DESABILITA ALGUMAS ANIMAÇÕES SOMENTE EM TELAS MOBILE */

    .fadeInRight, .swing {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    /*-- CONFIGURAÇÕES DO MENU MOBILE --*/

    .logo{
         background-size: 150px;
         width: 150px;
         height: 50px;
         position: absolute;
         float: none;
         top:8px;
    }

    .navbar-header {
        text-align: center;
        width: 100%;
    }

    .navbar-brand{
         position: absolute;
         float: none;
    }

    .navbar-default .navbar-toggle {
        padding: 1px 5px;
        font-weight: bold;
        color:#37ba40;
    }
    .navbar-default button.navbar-toggle{
        margin-right:5px;
        border: 1px solid #37ba40;
    }
    .navbar-default button.navbar-toggle:focus{
        background-color: #37ba40;
        color:white;
    }
    .navbar-default .navbar-header{
        margin:0px;
    }
    .navbar-fixed-top .logo{
        visibility: visible !important;
    }
    .navbar-fixed-top .navbar-toggle{
        visibility: visible !important;
    }
    .navbar-fixed-top .navbar-nav{
        visibility: visible !important;
        width: 100%;
    }
   .navbar-nav {
        background: white;
        padding:0px;
        width: 100%;
        height: auto;
        overflow:hidden;
    }
    .navbar-nav > li{
        background-color: #37ba40;
        margin:0px;/*Margem entre os links*/
        margin-top:1px;
    }
    .navbar-default .navbar-nav > li > a{
        background-color: #37ba40;
        color:white;
        padding: 10px 25px;
        margin:0px!important;
        width: 100%;
    }
    .navbar-default .navbar-nav > li > a:hover:not([enabled="enabled"]){
        background: #37ba40;
        color: white;   
    }
    .navbar-default .navbar-nav > li > a:focus:not([enabled="enabled"]){
        background: #37ba40;
        color: white;  
    }
    .navbar-default .navbar-nav > li.open > a:focus{
        background: #37ba40;
        color: #237018;
    }
    .navbar-default .navbar-nav > li.dropdown{
        background-color:  #37ba40;
        display:block;
    }
    .navbar-default .navbar-nav > li.open > ul.dropdown-menu{
        border-radius: 0px;
        padding:0px;
    }
    .navbar-default .navbar-nav > li.open > ul.dropdown-menu > li > a{
        background-color: #32993c;
        color:white;
        padding:5px 50px;
        border-top: 1px solid #237018;
        margin:0px;
    }
    .navbar-default .navbar-nav > li.open > ul.dropdown-menu > li > a:hover{
        background-color: #37ba40;
        color:white;
    }
    /*-- /CONFIGURAÇÕES DO MENU MOBILE --*/   

}
/*-- /LAYOUT RESPONSIVO --*/

/*-- ANIMAÇÃO SLIDEANIM */

  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
/*-- /ANIMAÇÃO SLIDEANIM */


/*-- CONFIGURAÇÃO DAS BORDAS DO EFEITO HOVER-EFFECT --*/
@-webkit-keyframes center-left {
    0%      {left: 40%; width: 8%; opacity: 0.2;}
    25%     {left: 25%; width: 15%;}
    50%     {left: 0%; width: 30%;}
    80%     {left: 0%; width: 0%;}
    100%    {left: 0%; width: 0%; opacity: 1;}
}
@-webkit-keyframes left-center {
    0%      {left: 0%; width: 0%; opacity: 1;}
    20%     {left: 0%; width: 0%;}
    50%     {left: 0%; width: 30%;}
    55%     {left: 40%; width: 11%;}
    100%    {left: 43%; width: 8%; opacity: 0.2;}
}
@-webkit-keyframes center-right {
    0%      {left: 52%; width: 8%; opacity: 0.2;}
    25%     {left: 60%; width: 15%;}
    50%     {left: 70%; width: 30%;}
    80%     {left: 100%; width: 0%;}
    100%    {left: 100%; width: 0%; opacity: 1;}
}
/*-- agileits --*/
@-webkit-keyframes right-center {
    0%      {left: 100%; width: 0%; opacity: 1;}
    20%     {left: 100%; width: 0%;}
    50%     {left: 70%; width: 30%;}
    55%     {left: 49%; width: 11%;}
    100%    {left: 49%; width: 8%; opacity: 0.2;}
}
@-webkit-keyframes top-center {
    0%      {top: 0%; height: 0%; opacity: 0.2;}
    50%     {top: 0%; height: 0%;}
    60%     {top: 0%; height: 20%;}

    80%     {top: 0%; height: 50%;}
    90%     {top: 25%; height: 25%;}
    100%    {top: 50%; height: 0%; opacity: 1;}
}
@-webkit-keyframes center-top {
    0%      {top: 50%; height: 0%; opacity: 1;}
    10%     {top: 25%; height: 25%;}
    20%     {top: 0%; height: 50%;}
    40%     {top: 0%; height: 20%;}
    50%     {top: 0%; height: 0%;}
    100%    {top: 0%; height: 0%; opacity: 0.2;}
}
@-webkit-keyframes bottom-center {
    0%      {top: 100%; height: 0%; opacity: 0.2;}
    50%     {top: 100%; height: 0%;}
    60%     {top: 80%; height: 20%;}
    80%     {top: 50%; height: 50%;}
    90%     {top: 50%; height: 25%;}
    100%    {top: 50%; height: 0%; opacity: 1;}
}
@-webkit-keyframes center-bottom {
    0%      {top: 50%; height: 0%; opacity: 1;}
    10%     {top: 50%; height: 25%;}
    20%     {top: 50%; height: 50%;}
    40%     {top: 80%; height: 20%;}
    50%     {top: 100%; height: 0%;}
    100%    {top: 100%; height: 0%; opacity: 0.2;}
}
@keyframes center-left {
    0%      {left: 40%; width: 8%; opacity: 0.2;}
    25%     {left: 25%; width: 15%;}
    50%     {left: 0%; width: 30%;}
    80%     {left: 0%; width: 0%;}
    100%    {left: 0%; width: 0%; opacity: 1;}
}
/*-- w3layouts --*/
@keyframes left-center {
    0%      {left: 0%; width: 0%; opacity: 1;}
    20%     {left: 0%; width: 0%;}
    50%     {left: 0%; width: 30%;}
    55%     {left: 40%; width: 11%;}
    100%    {left: 43%; width: 8%; opacity: 0.2;}
}
@keyframes center-right {
    0%      {left: 52%; width: 8%; opacity: 0.2;}
    25%     {left: 60%; width: 15%;}
    50%     {left: 70%; width: 30%;}
    80%     {left: 100%; width: 0%;}
    100%    {left: 100%; width: 0%; opacity: 1;}
}
@keyframes right-center {
    0%      {left: 100%; width: 0%; opacity: 1;}
    20%     {left: 100%; width: 0%;}
    50%     {left: 70%; width: 30%;}
    55%     {left: 49%; width: 11%;}
    100%    {left: 49%; width: 8%; opacity: 0.2;}
}
@keyframes top-center {
    0%      {top: 0%; height: 0%; opacity: 0.2;}
    50%     {top: 0%; height: 0%;}
    60%     {top: 0%; height: 20%;}
    80%     {top: 0%; height: 50%;}
    90%     {top: 25%; height: 25%;}
    100%    {top: 50%; height: 0%; opacity: 1;}
}
@keyframes center-top {
    0%      {top: 50%; height: 0%; opacity: 1;}
    10%     {top: 25%; height: 25%;}
    20%     {top: 0%; height: 50%;}
    40%     {top: 0%; height: 20%;}
    50%     {top: 0%; height: 0%;}
    100%    {top: 0%; height: 0%; opacity: 0.2;}
}
@keyframes bottom-center {
    0%{     top: 100%; height: 0%; opacity: 0.2;}
    50%     {top: 100%; height: 0%;}
    60%     {top: 80%; height: 20%;}
    80%     {top: 50%; height: 50%;}
    90%     {top: 50%; height: 25%;}
    100%    {top: 50%; height: 0%; opacity: 1;}
}
/*-- agileits --*/
@keyframes center-bottom {
    0%      {top: 50%; height: 0%; opacity: 1;}
    10%     {top: 50%; height: 25%;}
    20%     {top: 50%; height: 50%;}
    40%     {top: 80%; height: 20%;}
    50%     {top: 100%; height: 0%;}
    100%    {top: 100%; height: 0%; opacity: 0.2;}
}
/*-- /CONFIGURAÇÃO DAS BORDAS DO EFEITO HOVER-EFFECT --*/


/*-- BOTÃO VOLTAR AO TOPO --*/

#back-to-top{
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

#back-to-top.btn {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    font-size: 24px;
    line-height: 28px;
    padding: 7px;
}

#back-to-top .btn:focus {
    outline: 0;
}

#back-to-top.show{
    opacity: 0.80;
}

/*-- /BOTÃO VOLTAR AO TOPO --*/

/*-- FOOTER --*/

.footer{
    background:#004d00;
    padding:4em 0;
}
.footer-logo{
     background: url('../img/logofooter.png');
     background-repeat: no-repeat;
     width: 300px;
     height: 100px;
     margin:0 auto;
}
.footer-logo-if{
     background: url('../img/logofooterif.png');
     background-repeat: no-repeat;
     width: 300px;
     height: 100px;
     margin:0 auto;
}
.w3agile_footer_grid h3{
    font-size:1.7em;
    color:#fff;
    padding-bottom:.5em;
    margin-bottom:1em;
    position:relative;
    border-bottom: 2px ridge green;
}
.w3agile_footer_grid p{
    color:#fff;
    line-height:2em;
    font-size: 1em;
}
.w3agile_footer_grid h2{
    margin:1em 0 0;
}
.w3agile_footer_grid h2 a{
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.w3agile_footer_grid ul li{
    list-style-type:none;
    margin-bottom:1.5em;
}
.w3agile_footer_grid ul li a{
    color:#fff;
    text-decoration:none;
}
.w3agile_footer_grid ul li a:hover{
    color: #00e600;
}
@media (min-width: 992px){
    .w3agile_footer_grid:nth-child(2) {
        border-left: 2px ridge green;
        border-right: 2px ridge green;
    }    
}
ul.w3agile_footer_grid_list li{
    list-style-type:none;
    color:#999;
    line-height:1.9em;
    margin-bottom:1em;
}
.w3agile_footer_grid_left{
    float:left;
    width:33.33%;
    padding:.15em;
}
.agileinfo_copy_right{
    background:#003300;
    padding:1em 0;
}
.agileinfo_copy_right_left p{
    color:#fff;
    text-align: center;
}
.agileinfo_copy_right_left p a{
    color: #ff9900;
    text-decoration:none;
}
.agileinfo_copy_right_left p a:hover{
    color:#fff;
}
/*-- //FOOTER --*/






